@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html,body{
    transition: all 1s linear;
}
:root{
    --bg-color : #fdfdfd;
    --text-color: #333333;
    --main-color: #754ef9;
    --shadow-color: rgba(0,0,0, .2);
}
.dark-theme{
    --bg-color: #03001a;
    --text-color: #fdfdfd;
}
body{
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.nav{
    padding: .8rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    height: 57px;
    overflow: hidden;
    transition: all .3s linear;
    position: absolute;
    left: 0;
    right: 0;
}
.fixed-nav{
    transition: all 1s linear;
    height: 59px;
    background: var(--bg-color);
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--shadow-color);
    z-index: 500;
}
.collapse-nav{
    height: 330px;
    overflow: auto;
}
.logo-text{
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 var(--main-color);
}
.toggle-btn{
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
}
.switch-btn{
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin-top: -5px;
}
.fixed-switch-btn{
    color: var(--text-color);
}
.fixed-switch-btn:hover{
    color: var(--main-color);
}
.btns-toggle{
    display: none;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    cursor: pointer;
}
.nav-links{
    list-style-type: none;
    transition: all .3s ease;
    position: relative;
    cursor: pointer;
}
.nav-links:hover{
    transform: translateY(-4px);
    font-weight: bold;
}
.header-link{
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-right: 35px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 0;
}
.header-link.active::after{
    content: "";
    height: 3px;
    width: 100%;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 8px;
}
.header-link:hover{
    font-weight: bold;
}

.header-link:hover:after{
    content: "";
    height: 3px;
    width: 100%;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 8px;
}
.fixed-link{
    color: var(--text-color);
    text-shadow: 0 0 black;
}
.fixed-link:hover{
    color: var(--main-color);
}
.fixed-link.active{
    color: var(--main-color);
}
.fixed-link:hover:after{
    content: "";
    height: 3px;
    width: 100%;
    display: inline-block;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 8px;
}
.fixed-link.active::after{
    content: "";
    height: 3px;
    width: 100%;
    display: inline-block;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: 8px;
}
.nav-links:last-child:hover:after{
    width: 0%;
}
li:last-child a{
    margin-right: 0;
}
.header-section{
    display: grid;
    grid-template-columns: 600px 1fr;
    padding-top: 65px;
}

.intro{
    padding: 10rem 0 0 4rem;
    line-height: 45px;
}
h2, h1{
    margin: 0;
    font-weight: bold;
    text-shadow: 0 0 var(--text-color);
    color: var(--text-color);
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 3rem;
}
.intro-description{
    margin-top: 20px;
    line-height: 25px;
    text-align: justify;
    color: var(--text-color);
    font-size: 1rem;
    text-shadow: 0 0 var(--text-color);
}
.intro-skills{
    overflow: hidden;
}
.social-area{
    margin-top: 30px;
    display: flex;
}
.skill-area{
    transition: all 1s linear;
}
/* .btn-social{
    background: transparent;
    outline: none;
    border: 3px solid var(--main-color);
    height: 35px;
    width: 35px;
    font-size: 1rem;
    border-radius: 50%;
    transition: all .3s linear;
    margin-left: 15px;
    color: var(--main-color);
}
.btn-social:hover{
    background: var(--main-color);
    color: white !important;
} */
.social-media{
    border: 3px solid var(--main-color);
    margin-left: 15px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
    color: var(--main-color);
    transition: all .3s linear;
}
.social-media:hover{
    background-color: var(--main-color);
    color: white;
}
.social-media:first-child{
    margin-left: 0;
}
.btn-cv{
    margin-top: 50px;
    background: var(--main-color);
    border: none;
    text-transform: capitalize;
    color: white;
    height: 45px;
    font-size: 1rem;
    width: 170px;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
    border: 3px solid var(--main-color);
    display:block;
    text-align: center;
    text-decoration: none;
}
.btn-cv:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
.circle-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 750px;
    background-color: transparent;
    position: relative;
    z-index: -3;
    top: -80px;
    left: 55px;
    animation: spin-circle 15s infinite ease-out;
  }
  .circle-container .skill-name {
    position: absolute;
    transform: rotate(calc(360deg / 4 * var(--index)));
    left: 0;
    transform-origin: 350px;
    z-index: 1;
    text-align: center;
  }
  .skill{
    margin: -10px 0 0 0;
    font-size: 1.5rem;
  }
  .skill-name:first-child{
    margin-top: -60px;
    margin-left: 50px;
  }
  .skill-name:nth-child(2){
    margin-left: 60px;
    margin-top: 48px;
  }
  .skill-name:nth-child(3){
    margin-top: 52px;
  }
  .skill-name:nth-child(4){
    margin-top: -50px;
  }
  .fa-code{
    font-size: 2.5rem !important;
  }
  .fa-palette{
    font-size: 2.1rem !important;
  }
  .fa-brain{
    font-size: 1.9rem !important;
  }
  .circle{
    position: absolute;
    height: 600px;
    width: 600px;
    background: transparent;
    border: 5px solid var(--main-color);
    border-radius: 50%;
  }
  .skill-name{
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 1rem 0;
    transition: all 1s linear;
  }
.border-shape{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 340px solid transparent;
    border-top: 355px solid var(--main-color);
    border-right: 440px solid var(--main-color);
    border-bottom: 500px solid var(--main-color);
    z-index: 2;
}
.circle-bg{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: var(--main-color);
  }
.my-img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about{
    padding: 5rem 0;
}
.about-area{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.my-profile{
    display: flex;
    justify-content: center;
}
.btn-read{
    margin-top: 40px;
    background: var(--main-color);
    border: none;
    text-transform: capitalize;
    color: white;
    height: 53px;
    font-size: 1rem;
    width: 150px;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
    border: 3px solid var(--main-color);
    display: block;
    text-align: center;
    text-decoration: none;
}
.btn-send{
    margin-top: 40px;
    background: var(--main-color);
    border: none;
    text-transform: capitalize;
    color: white;
    height: 40px;
    font-size: 1rem;
    width: 150px;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
    border: 3px solid var(--main-color);
    display: block;
    text-align: center;
    text-decoration: none;
}
.btn-send:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
.btn-read:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
.content-title{
    text-transform: capitalize;
    font-size: 2.8rem;
    text-shadow: 0 0 BLACK;
    letter-spacing: 1px;
}
.about-content{
    display: grid;
    align-items: center;
    align-content: center;
}
.about-description{
    margin: 0;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-shadow: 0 0 BLACK;
    letter-spacing: 1px;
    margin-top: -5px;
    color: var(--text-color);
}
.description{
    padding: 0 2.5rem 0 0;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0;
    line-height: 30px;
    text-shadow: 0 0 var(--text-color);
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 0 0 BLACK;
    font-size: 3rem;
}
.service-area{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    gap: 0 2rem;
}
.service-logo{
    color: var(--main-color);
}
.service-caption{
    margin: 0;
    font-size: 1.5rem;
    text-shadow: 0 0 BLACK;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--text-color);
}
.service-content{
    line-height: 27px;
    margin-bottom: 0;
    padding: 0 1rem;
    color: var(--text-color);
}
.service{
    text-align: center;
    flex: 1 1 20rem;
    margin: 1rem 0 1rem 0;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    border-radius: 20px;
    border-top: 7px solid var(--main-color);
    border-bottom: 7px solid var(--main-color);
    border-left: 2px solid rgba(0,0,0, .2);
    border-right: 2px solid rgba(0,0,0, .2);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0, .2);
    transition: all .3s linear;
    cursor: context-menu;
}
.service:hover{
    transform: scale(1.05);
}
.btn-area{
    display: flex;
    justify-content: center;
}
.projects-title{
    text-align: center;
    margin: 5rem 0 0 0;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 1px;
}
.projects-title{
    text-align: center;
    margin: 5rem 0 3rem 0;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 1px;
}
.projects-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem 2rem;
    width: 85%;
    margin: 0 auto;
}
.projects{
    height: 110%;
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.project-pic{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0, 0.1), var(--main-color));
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    transition: all .3s linear;
    opacity: 0;
    cursor: context-menu;
}
.project-layer:hover{
    opacity: 1;
}

.project-caption{
    color: #fdfdfd;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
}
.project-content{
    color: #fdfdfd;
    text-align: center;
    font-size: .85rem;
    margin: 0;
    line-height: 19px;
    padding: 0 1.3rem;
}
.link-project{
    background: white;
    height: 35px;
    width: 35px;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
}
.education-title{
    text-align: center;
    margin: 6rem 0 3rem 0;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 1px;
}
.education-area{
    width: 90%;
    margin: 0 auto;
    max-width: 750px;
}
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
.edu-icon{
    display: grid;
    place-items: center;
    font-size: 5rem !important;
    color: var(--main-color);
    margin-top: 15px;
}
.degree-name{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 0;
}
.colg-name{
    text-align: center;
    margin-top: 8px;
    color: var(--text-color);
    margin-bottom: 0;
}
.city{
    text-align: center;
    margin-top: 10px;
    color: var(--text-color);
}
.grade{
    margin-top: 0;
    color: var(--text-color);
}
.education-slide{
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.education-content{
    border: 2px solid var(--shadow-color);
    border-radius: 1.3rem;
    padding: 2.5rem 0;
    border-top: 6px solid var(--main-color);
    border-bottom: 6px solid var(--main-color);
}
.education-wrapper{
    position: relative;
    width: 90%;
    max-width: 800px;
}
#education{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}
.education-box{
    overflow: hidden;
    padding:  0 1rem;
}
.swiper-button-next{
    right: -40px !important;
    color: var(--main-color) !important;
    outline: none !important;
}
.swiper-button-prev{
    left: -40px !important;
    color: var(--main-color) !important;
    outline: none !important;
}
.date-span{
    margin: 0;
    color: var(--text-color);
    font-size: 1rem;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 760px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0 0 0.8rem 0;
}
.form-control{
    height: 45px;
    border: 3px solid var(--shadow-color);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px var(--shadow-color);
    padding: 0rem 0.5rem;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 1s linear;
}
.form-control:focus{
    border: 3px solid;
    border-color: #754ef9;
}
.text-area{
    resize: none;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;
    color: var(--text-color);
    border: 3px solid var(--shadow-color);
    box-shadow: 0 0 1px 1px var(--shadow-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    transition: all 1s linear;
}
.text-area:focus{
    border: 3px solid;
    border-color: #754ef9;
}
.footer-container{
    margin-top: 7rem;
    background: var(--main-color);
    color: #fdfdfd;
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
}
.copywrite{
    margin: 0;
    text-transform: capitalize;
    letter-spacing: .5px;
}
.ref-btn{
    position: fixed;
    background: var(--main-color);
    color: white;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    right: 3rem;
    bottom: 3rem;
    z-index: 5;
    transition: all .3s linear;
    animation: pop-btn 2s infinite ease-in-out;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.show-ref-btn{
    opacity: 1;
    visibility: visible;
}
.ref-link{
    color: #fdfdfd;
    text-decoration: none;
}
.preloader{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fdfdfd;
    z-index: 600;
    transition: all .3s linear;
    display: grid;
    place-items: center;
}
.hide-loader{
    opacity: 0;
    visibility: hidden;
}
.loader{
    height: 130px;
    width: 130px;
    border: 9px solid #754ef9;
    border-radius: 50%;
    border-top-color: #fdfdfd;
    animation: loader-spin 1s infinite linear;
}
@keyframes pop-btn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes loader-spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spin-circle {
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%, 70%{
        transform: rotate(-180deg);
    }
    75%, 95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@media (min-width: 1226px){
    .collapse-nav{
        height: 55px;
        overflow: hidden;
    }
}
@media (max-width: 1225px){
    .mobile-switch-btn{
        display: none;
    }
    .nav-list{
        display: block;
    }
    .btns-toggle{
        display: block;
    }
    .nav-title{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }
    .nav{
        display: block;
        padding: 0.8rem 1rem;
        position: fixed;
        background-color: var(--bg-color);
        border-bottom: 2px solid var(--shadow-color);
        transition: all .5s linear;
    }
    .nav-items{
        display: block;
        margin: 0;
        padding: 0;
    }
    .nav-list{
        height: 0px;
    }
    .nav-links{
        padding: .4rem 0;
    }
    .header-link{
        color: var(--text-color);
        text-shadow: 0 0 black;
    }
    .switch-btn, .toggle-btn{
        color: var(--text-color);
    }
    .service-title{
        margin-top: 0;
    }
}
@media (max-width: 1224px){
    .border-shape{
        border-right: 300px solid var(--main-color);
    }
}

@media (min-width: 1120px) and (max-width: 1325px){
    .circle-container{
        left: 10px;
    }
    .header-section{
        grid-template-columns: 540px 1fr;
    }
}
@media (min-width: 1000px) and (max-width: 1119px){
    .border-shape{
        border-right: 50px solid var(--main-color);
    }
    .circle-container{
        left: 10px;
    }
    .header-section{
        grid-template-columns: 540px 1fr;
    }
}
@media (max-width: 999px){
    .switch-btn{
        color: var(--text-color);
    }
    .toggle-btn{
        color: var(--text-color);
    }
    .header-section{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:940px) and (max-width: 999px){
    .border-shape{
        border-right: 62px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.58);
        top: 33rem;
        left: 50%;
        right: 50%;
        border-left: 71px solid transparent;
        border-top: 192px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 23px;
        left: -28px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -14px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 21px;
        left: -36px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 19px;
        left: -48px;
        padding: 1rem;
    }
}
@media (min-width: 880px)  and (max-width:939px){
    .border-shape{
        border-right: 85px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.46);
        top: 35rem;
        left: 50%;
        right: 50%;
        border-left: 71px solid transparent;
        border-top: 192px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 23px;
        left: -28px;
        padding: 1rem;
        
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -14px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 21px;
        left: -36px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 19px;
        left: -48px;
        padding: 1rem;
    }
}
@media (min-width: 835px)  and (max-width:879px){
    .border-shape{
        border-right: 83px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.31);
        top: 35rem;
        left: 50%;
        right: 50%;
        border-left: 75px solid transparent;
        border-top: 180px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 23px;
        left: -28px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -14px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 21px;
        left: -36px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 19px;
        left: -48px;
        padding: 1rem;
    }
}
@media (min-width: 800px)  and (max-width:834px){
    .border-shape{
        border-right: 83px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.31);
        top: 35rem;
        left: 50%;
        right: 50%;
        border-left: 75px solid transparent;
        border-top: 180px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 23px;
        left: -28px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -14px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 21px;
        left: -36px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 19px;
        left: -48px;
        padding: 1rem;
    }
}
@media (min-width: 750px)  and (max-width:799px){
    .border-shape{
        overflow: hidden;
        border-right: 90px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.16);
        top: 37rem;
        left: 50%;
        right: 50%;
        border-left: 75px solid transparent;
        border-top: 180px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 23px;
        left: -28px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -14px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 21px;
        left: -36px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 19px;
        left: -48px;
        padding: 1rem;
    }
}
@media (min-width: 735px)  and (max-width:749px){
    .border-shape{
        overflow: hidden;
        border-right: 90px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(2.12);
        top: 37rem;
        left: 50%;
        right: 50%;
        border-left: 75px solid transparent;
        border-top: 180px solid var(--main-color);
        border-bottom: 354px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 180px;
        left: -10px;
        height: 370px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .skill-area{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 16px;
        left: -28px;
        padding: 1rem;
    }
}
@media (min-width: 685px)  and (max-width:734px){
    .border-shape{
        overflow: hidden;
        border-right: 195px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.84);
        top: 50rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 600px;
        width: 600px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 530px;
        width: 530px;
    }
    .circle-container .skill-name{
        transform-origin: 300px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 647px)  and (max-width:684px){
    .border-shape{
        overflow: hidden;
        border-right: 185px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.82);
        top: 45rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 60%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 580px)  and (max-width:646px){
    .border-shape{
        overflow: hidden;
        border-right: 185px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.72);
        top: 45rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 70%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 554px)  and (max-width:579px){
    .border-shape{
        overflow: hidden;
        border-right: 230px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.49);
        top: 47rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 70%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 508px)  and (max-width:553px){
    .border-shape{
        overflow: hidden;
        border-right: 215px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.49);
        top: 47rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 80%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 485px)  and (max-width:507px){
    .border-shape{
        overflow: hidden;
        border-right: 240px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.37);
        top: 47rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 80%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 450px)  and (max-width:484px){
    .border-shape{
        border-right: 236px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.32);
        top: 48rem;
        left: 50%;
        right: 50%;
        border-left: 74px solid transparent;
        border-top: 188px solid var(--main-color);
        border-bottom: 345px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 90%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 39px;
        left: -10px;
        height: 500px;
        width: 500px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 430px;
        width: 430px;
    }
    .circle-container .skill-name{
        transform-origin: 250px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 39px;
        left: -38px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 25px;
        left: -4px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -43px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -77px;
        padding: 1rem;
    }
}
@media (min-width: 431px)  and (max-width:449px){
    .border-shape{
        border-right: 215px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.29);
        top: 45rem;
        left: 50%;
        right: 50%;
        border-left: 79px solid transparent;
        border-top: 169px solid var(--main-color);
        border-bottom: 334px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 90%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1rem;
        text-align: center;
    }
    .circle-container{
        top: 58px;
        left: -8px;
        height: 400px;
        width: 400px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 380px;
        width: 380px;
    }
    .circle-container .skill-name{
        transform-origin: 200px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 48px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -20px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -95px;
        padding: 1rem;
    }
}
@media (min-width: 395px)  and (max-width:430px){
    .border-shape{
        border-right: 215px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.26);
        top: 45rem;
        left: 50%;
        right: 50%;
        border-left: 79px solid transparent;
        border-top: 169px solid var(--main-color);
        border-bottom: 334px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 95%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2rem;
    }
    .intro-description{
        font-size: .9rem;
        text-align: center;
    }
    .circle-container{
        top: 58px;
        left: -8px;
        height: 400px;
        width: 400px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 380px;
        width: 380px;
    }
    .circle-container .skill-name{
        transform-origin: 200px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 48px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -20px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -95px;
        padding: 1rem;
    }
}
@media (max-width:394px){
    .border-shape{
        border-right: 209px solid var(--main-color);
        transform: rotate(90deg) translate(-50%, 50%) scale(1.16);
        top: 45rem;
        left: 50%;
        right: 50%;
        border-left: 109px solid transparent;
        border-top: 169px solid var(--main-color);
        border-bottom: 340px solid var(--main-color);
    }
    .intro{
        padding: 3rem 0 0 0;
        width: 95%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    h1{
        font-size: 2rem;
    }
    .intro-description{
        font-size: .85rem;
        text-align: center;
    }
    .circle-container{
        top: 58px;
        left: -8px;
        height: 400px;
        width: 400px;
    }
    .intro-skills{
        display: grid;
        place-items: center;
    }
    .circle{
        height: 380px;
        width: 380px;
    }
    .circle-container .skill-name{
        transform-origin: 200px;
    }
    .skill-area1{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 48px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area2{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -20px;
        padding: 1rem;
    }
    .skill-area3{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: -3px;
        left: -62px;
        padding: 1rem;
    }
    .skill-area4{
        transform: rotate(-90deg);
        background: var(--bg-color);
        position: relative;
        top: 24px;
        left: -95px;
        padding: 1rem;
    }
}
@media (min-width:930px) and (max-width: 1120px){
    .circle-bg{
        height: 400px;
        width: 400px;
    }
}
@media (min-width:630px) and (max-width: 929px){
    .circle-bg{
        height: 400px;
        width: 400px;
    }
    .about-area{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content{
        margin-top: 30px;
        place-items: center;
    }
    .description{
        text-align: center;
    }
    .my-profile{
        order: 2;
        margin-top: 70px;
    }
}
@media (min-width:400px) and (max-width: 629px){
    .circle-bg{
        height: 300px;
        width: 300px;
    }
    .about-area{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content{
        margin-top: 30px;
        place-items: center;
    }
    .description{
        text-align: center;
        padding: 0;
    }
    .my-profile{
        order: 2;
        margin-top: 40px;
    }
    .about-description{
        text-align: center;
    }
}
@media (max-width: 399px){
    .circle-bg{
        height: 200px;
        width: 200px;
    }
    .about-area{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content{
        margin-top: 30px;
        place-items: center;
    }
    .description{
        text-align: center;
        padding: 0;
    }
    .my-profile{
        order: 2;
        margin-top: 40px;
    }
    .about-description{
        text-align: center;
    }
}
@media (min-width:500px) and (max-width: 840px){
    .education-wrapper{
        width: 85%;
    }
}
@media (max-width: 499px){
    .swiper-button-next{
        right:-30px !important;
    }
    .swiper-button-prev{
        left: -30px !important;
    }
    .education-wrapper{
        width: 85%;
    }
    .degree-name{
        font-size: 1.6rem;
    }
    .colg-name{
        font-size: 1rem;
    }
    .footer-container{
        padding: 1.5rem 1.3rem;
        font-size: .9rem;
    }
}
@media (max-width:1110px){
    .project-caption{
        font-size: 1.5rem;
    }
    .link-project{
        height: 30px;
        width: 30px;
        font-size: 1rem;
    }
    .project-content{
        font-size:.8rem;
    }
}
@media (min-width: 641px) and (max-width: 960px){
    .projects-area{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 640px){
    .projects-area{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-title{
        font-size: 2rem;
    }
    .service-title{
        font-size: 2rem;
    }
    .content-title{
        font-size: 2.5rem;
    }
    .education-title{
        font-size: 2.5rem;
    }
}
@media (max-width: 504px){
    .row{
        grid-template-columns: 1fr;
    }
}